<html-snippet>
    <div class="td-col-md-4 td-col-lg-4 td-col-sm-8 td-col-xs-12 td-col-md-offset-3 td-col-lg-offset-4 td-col-sm-offset-1">
        <div class="status_bar td-fullwidth-gray td-padding-vert-0 ng-scope first-section"></div>
        <div class="td-row">
            <div class="td-col-md-12 td-col-lg-12 td-col-sm-12 td-col-xs-12">
                <h1 class="text-center td-font-biggest td-margin-top-0 font-bold ng-binding">Customer Login</h1>
                <p class="">If you have an EasyWeb or WebBroker login ID, please enter it below. If you don't have a login ID,select that
                link instead.</p>
            </div>
        </div>
        <divider></divider>
        <div class="pos-relative">
            <div class="pos-absolute bottom-20">
                <a class="color-green" href="">< Go back </a>
            </div>
        </div>
        <div style="" class="td-col-md-12 td-col-lg-12 td-col-sm-12 td-col-xs-12">
            <!--Personal Info-->
            <h2 class="text-center td-margin-top-0 font-bold ng-binding">I have a TD login ID</h2>
            <h6 class="underline font-14 color-green">I don't have TD login ID, use my customer profile</h6>
        </div>
        <div class="login-form">
    <div class="user-name-div">
        <form-input field-size="md" type="text" label="User Name/Access Card/Connect ID" max-length="" class=""
            name="userName" place-holder="User Name/Access Card/Connect ID" tooltip="User Name/Access Card/Connect ID" readonly="false"  md="12" lg="12" sm="12" xs="12"
            disable="false" hide="false" ng-model="userName" pre-fill-key="FN" field-xml-name="" validate-required="message:! Required"
            fpi-node-name="PERS_USRNAME" fpi-desc="Personal User Name"></form-input>
    </div>
    <div class="password-div">
        <form-input field-size="md" type="password" label="Password" max-length="" class=""
            name="password" place-holder="Password" tooltip="Password" readonly="false" disable="false" hide="false" ng-model="password"  md="12" lg="12" sm="12" xs="12"
            pre-fill-key="FN" field-xml-name="" validate-required="message:! Required" fpi-node-name="PERS_PWD" fpi-desc="Personal Password"></form-input>
    </div>
</div>
<div class="float-right td-col-md-12 td-col-lg-12 td-col-sm-12 td-col-xs-12">
    <checkbox-item key="Remember me" value="Remember me" label="Remember me"></checkbox-item>
</div>
<div style="" class="td-col-md-12 td-col-lg-12 td-col-sm-12 td-col-xs-12 padding-botom-10">
        <h6 class="underline font-14 color-green text-center">Forgot your username or password?</h6>
    </div>
        <form-submit url="/api/submitfpidata" direct-mail-url="api/emailtocustomer" label="Continue Login"
        next-nav-key="confirmation" tooltip="Set up a meeting" readonly="false" hide="false" id="btnSubmit" name="btnSubmit" md="12" lg="12" sm="12" xs="12" disable="false" enable="true"
        xpm-comment-component="Start Component Presentation: {'ComponentID' : 'tcm:18-1569', 'ComponentModified' : '2016-07-26T08:33:45', 'ComponentTemplateID' : 'tcm:18-1559-32', 'ComponentTemplateModified' : '2016-07-11T09:57:36', 'IsRepositoryPublished' : false }"
        xpm-comment-field='Start Component Field: {"XPath":"tcm:Content/custom:dwtsectioncontent/custom:sectionTitle[1]"}'>
    </form-submit>
    </div>
</html-snippet>

<html-snippet class="margin-20">
    <section class="td-container help">
            <div class="td-row">
                <div class="td-col-xs-12 text-center td-font-bigger">
                    <div class="td-margin-top-40 td-margin-bottom-30 td-copy-black">Have a question?
                    </div>
                </div>
            </div>
            <div class="td-row help-options td-margin-bottom-40">
                <div class="td-col-lg-3 td-col-lg-offset-3 td-col-sm-4 td-col-sm-offset-2 td-col-md-3 td-col-md-offset-3 td-col-xs-6">
                    <div>
                        <span class="td-icon td-icon-sendFeedback"></span>Meet a TD Representative<br><a href="" td-ui-link="green">Book an Appointment</a></div>
                </div>
                <div class="td-col-lg-4 td-col-sm-4 td-col-md-3 td-col-xs-6">
                    <div><span class="td-icon td-icon-contactUs"></span>Speak to a TD Representative
                        <br><a href="tel:18009832582" td-ui-link="black" class="td-link-nounderline"><strong>Call
                    1-800-983-2582</strong></a></div>
                </div>
            </div>
        </section>
</html-snippet>

<!-- View Footer-->
<div ng-include="'/system/include/view-footer.html'"></div>